#p1{
	
	margin-top: -40px;
	text-align: justify;

}

#p11,#p1{
	
	margin-left: 60px;
	text-align: justify;

}

#a1{
	margin-left: 140px;
}
	@media (min-width: 768px) and (max-width: 979px) {
#a1{
	margin-left: 0px;
}
	}

@media (max-width: 480px){
#a1{
		margin-left: 0px;
}

@media (max-width: 767px){
#a1{
	margin-left: 0px;
}
